<% layout("layouts/boilerplate")%>
    <div class="container container-sm mt-20">
        <h1 class="m-3 text-center">All Camps</h1>
        <%- include("../partials/flash") -%>
            <% for(let camp of camps) { %>
                <div class="mw-60 card m-3 mh-50">
                    <div class="row">
                        <div class="col-md-4">
                            <% if(camp.images){ %>
                                <div id="carouselSlides" class="carousel slide " data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <% camp.images.forEach((img,i)=>{ %>
                                            <div class="carousel-item<%= i==0?(" active"):""%>"data-bs-interval="2500">
                                                <img src="<%= img.url %>" alt="<%=img.filename%>" class="img-fluid">
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= camp.title %>
                                </h5>
                                <p class="card-text">
                                    <%= camp.description %>
                                </p>
                                <p class="card-text text-muted">
                                    <%= camp.location %>
                                </p>
                                <a href="/campground/view/<%=camp._id%>"><button
                                        class="btn btn-primary">View</button></a>
                                <% if(currentUser && currentUser._id.equals(camp.author._id)){ %>
                                    <a href="/campground/edit/<%=camp._id%>"><button
                                            class="btn btn-secondary">Edit</button></a>
                                    <form action="/campground/delete/<%=camp._id%>" class="d-inline" method="post">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <b>

                    </b>

                </div>
                <% } %>


    </div>