<% layout("layouts/boilerplate")%>
    <div class="container mt-20">
        <h1>All Camps</h1>
        <img src="https://source.unsplash.com/random/300x300?camping,${i}`" width="200px" alt="" srcset="">


        <% for(let camp of camps) { %>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%= camp.image %>" alt="Camp foto" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= camp.title %>
                            </h5>
                            <p class="card-text">
                                <%= camp.description %>
                            </p>
                            <p class="card-text text-muted">
                                <%= camp.location %>
                            </p>
                            <a href="/campground/<%=camp._id%>"><button class="btn btn-primary">View</button></a>
                            <a href="/campground/edit/<%=camp._id%>"><button class="btn btn-secondary">Edit</button></a>
                            <a href="/campground/delete/<%=camp._id%>"><button
                                    class="btn btn-danger">Delete</button></a>
                        </div>
                    </div>
                </div>
                <b>

                </b>

            </div>
            <% } %>


    </div>