<% layout("layouts/boilerplate")%>
    <div class="container">
        <div class="row">
            <%- include("../partials/flash") %>
                <div class="col-6">
                    <div class="card mt-3 mb-3">
                        <img src="<%= camp.image %>" class="card-img-top w-100" alt="campground">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= camp.title %>
                            </h5>
                            <p class="card-text">
                                <%= camp.description %>
                            </p>
                            <li class="list-group-item text-muted">
                                <%= camp.location%>
                            </li>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <%= camp.price %>$
                            </li>

                            <li class="list-group-item">
                                Suggested by: <%= camp.author.username%>
                            </li>
                        </ul>
                        <% if(currentUser && currentUser._id.equals(camp.author._id)){ %>
                            <div class="card-body">
                                <a href="/campground/edit/<%=camp._id%>"><button
                                        class="btn btn-secondary">Edit</button></a>
                                <form action="/campground/delete/<%=camp._id%>" class="d-inline" method="post">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                            <% } %>
                    </div>
                </div>

                <div class="col-6 mt-3 mb-3">
                    <% if(currentUser){ %>
                        <form action="/campground/<%=camp._id%>/review" method="post" class="mb-3 needs-validation"
                            novalidate>
                            <h1>Leave a Review</h1>
                            <div class="md-3">
                                <label class="form-label" for="rating">Rating</label>
                                <input class="form-range" type="range" name="review[rating]" min="1" max="5" id="">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="body">Body</label>
                                <textarea name="review[body]" class="form-control" id="body" cols="30" rows="4"
                                    required></textarea>
                                <div class="invalid-feedback">
                                    Please write a body
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                        <% } %>


                            <h1>Reviews</h1>
                            <% if(camp.reviews.length==0){ %>

                                <h5 class="mt-3">This campground has no reviews</h5>


                                <% } %>
                                    <% for(let rev of camp.reviews){ %>
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <h5 class="card-title">Rating: <%= rev.rating %>
                                                </h5>
                                                <p class="card-subtitle text-muted">Author: <%= rev.author.username %>
                                                </p>
                                                <p class="card-text">
                                                    <%= rev.body%>
                                                </p>

                                                <% if(currentUser&&currentUser._id.equals(rev.author._id)){ %>
                                                    <form action="/campground/<%=camp._id%>/review/delete "
                                                        method="post">
                                                        <input type="hidden" name="review[id]" value="<%=rev._id%>">
                                                        <button class="btn btn-danger" type="submit">Delete</button>
                                                    </form>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <% } %>
                </div>
        </div>
    </div>