<% layout("layouts/boilerplate")%>
    <div class="container">
        <div class="row">
            <%- include("../partials/flash") %>
                <div class="col-6">
                    <div class="card mt-3 mb-3">
                        <img src="<%= camp.image %>" class="card-img-top w-100" alt="campground">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= camp.title %>
                            </h5>
                            <p class="card-text">
                                <%= camp.description %>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <%= camp.price %>$
                            </li>
                            <li class="list-group-item">
                                <%= camp.location%>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-6 mt-3 mb-3">
                    <form action="/campground/<%=camp._id%>/review" method="post" class="mb-3 needs-validation"
                        novalidate>
                        <h1>Leave a Review</h1>
                        <div class="md-3">
                            <label class="form-label" for="rating">Rating</label>
                            <input class="form-range" type="range" name="review[rating]" min="1" max="5" id="">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="body">Body</label>
                            <textarea name="review[body]" class="form-control" id="body" cols="30" rows="4"
                                required></textarea>
                            <div class="invalid-feedback">
                                Please write a body
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>



                    <h1>Reviews</h1>
                    <% for(let rev of camp.reviews){ %>
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title">Rating: <%= rev.rating %>
                                </h5>
                                <p class="card-text">Review: <%= rev.body%>
                                </p>
                                <form action="/campground/<%=camp._id%>/review/delete " method="post">
                                    <input type="hidden" name="review[id]" value="<%=rev._id%>">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                </div>
        </div>
    </div>